.game-container {
  margin: 20px 0;

  .item {
    color: #ffffff;
    margin: 0 auto 20px;
    text-align: center;
    perspective: 1000px;

    &.visible .rotator {
      transform: rotateY(180deg);
    }

    &, .front-side, .back-side {
      width: 100%;
      height: 48px;
    }

    .rotator {
      transition: 0.3s;
      transform-style: preserve-3d;
      position: relative;
    }

    .front-side, .back-side {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
      line-height: 42px;
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
      background-color: #e0e0e0;
    }

    .front-side {
      z-index: 2;
      transform: rotateY(0deg);
      background: #1e5799;
      background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
      background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
      background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
    }

    .back-side {
      transform: rotateY(180deg);
      background-color: #cecece;
    }
  }
}